.contenido-categorias {
    margin-top: 2rem;
}

.categorias-genericas {
    width: 20%;
    padding-left: 1rem;
    border: solid rgb(200, 200, 200);
    border-width: 1px;
}

.categorias-productos {
    width: 80%;
    margin-top: -10.1%;
    margin-left: 20%;
}

.categoria-producto {
    border: solid rgb(200, 200, 200);
    border-width: 1px;
    padding-top: 1rem;
}

.img-cat {
    width: 60%;
    margin-left: 20%;
}

.cont-promo {
    padding-top: 1rem;
    padding-left: 1rem;
}

.promocion {
    background-color: rgb(180, 0, 0);
    color: white;
    width: 6rem;
    padding: 0.1rem 0.1rem 0 0;
    text-align: center;
}

.precios {
    color: rgb(180, 0, 0);
    font-weight: bold;
    font-size: 20px;
    margin-top: -1rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}