.navbar-brand {
    background-image: url("../assets/wlogo.png");
    width: 150px;
    background-size: 100% 100%;
    padding-bottom: 80px;
}

.search-form {
    height: 5rem;
    width: 40rem;
}

select {
    background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance:none !important;
    -webkit-appearance: none !important; 
    appearance: none !important;
    padding-right: 2rem !important;
    background-color: rgb(230, 230, 230);
    width: 5.6rem;
    padding-left:0.5rem;
    padding-right: 0.5rem;
    border: none;
    border-radius: 0.25rem 0 0 0.25rem;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    color: #272727;
    margin-bottom: 1rem;
}

#search {
    padding:0.5rem;
    border: none;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    margin-bottom: 1rem;
}

.busqueda {
    width: 75.5%;
}

.boton-busqueda {
    position:relative; 
    left: 0%; 
    bottom: 0%;
    border: none;
    border-radius: 0 0.25rem 0.25rem 0;
    background-color: rgb(255, 193, 112);
}

.boton-busqueda:hover {
    background-color: rgb(255, 183, 88);
}