appdirs==1.4.4
asgiref==3.2.7
astroid==2.4.2
attrs==19.3.0
backcall==0.1.0
bleach==3.1.5
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
Django==3.0.5
django-cors-headers==3.4.0
django-filter==2.2.0
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
djongo==1.3.3
entrypoints==0.3
filelock==3.0.12
gunicorn==20.0.4
idna==2.9
install==1.3.3
ipykernel==5.3.0
ipympl==0.5.6
ipython==7.14.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.7.0
jedi==0.17.0
Jinja2==2.11.2
json5==0.9.4
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
jupyterlab==2.1.3
jupyterlab-server==1.1.5
keyring==21.2.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.2
mccabe==0.6.1
mistune==0.8.4
mpmath==1.1.0
nbconvert==5.6.1
nbformat==5.0.6
notebook==6.0.3
numpy==1.18.4
packaging==20.4
pandas==1.0.4
pandocfilters==1.4.2
parso==0.7.0
pickleshare==0.7.5
Pillow==7.1.2
plotly==4.8.1
prometheus-client==0.7.1
prompt-toolkit==3.0.5
psycopg2-binary==2.8.5
Pygments==2.6.1
PyJWT==1.7.1
pylint==2.6.0
pymongo==3.11.2
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2019.3
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pyzmq==19.0.1
requests==2.23.0
retrying==1.3.3
Send2Trash==1.5.0
six==1.15.0
sqlparse==0.2.4
sympy==1.6
terminado==0.8.3
testpath==0.4.4
toml==0.10.2
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.9
virtualenv==20.0.26
wcwidth==0.1.9
webencodings==0.5.1
whitenoise==5.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==1.2.0
yagmail==0.11.224
